.commentContainer {
  height: auto;
  position: absolute;
  width: 69%;
  height: 174%;
  gap: 0px 0px;
  grid-template-areas:
    "PostCommentArea PostCommentArea PostCommentArea PostCommentArea PostCommentArea PostCommentArea PostCommentArea"
    "ViewCommentArea ViewCommentArea ViewCommentArea ViewCommentArea ViewCommentArea ViewCommentArea ViewCommentArea";
}

.PostCommentArea {
  grid-area: PostCommentArea;
  text-align: center;
}

.ViewCommentArea {
  grid-area: ViewCommentArea;
}

.InputPostComment {
  margin-top: 10px;
  width: 80%;
  height: 50px;
}

.BtnPostComment {
  width: 10%;
  height: 50px;
}

.oneCommentBox {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  height: 4%;
}

.ViewCommentArea {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.commentLeft {
  display: flex;
  /* flex-direction : row; */
  width: 20%;
  justify-content: space-between;
  padding: 10px;
}

.commentRight {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-right: 10px;
  padding: 10px;
}

.commentRightRight {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
