

.commentContainer {
  display: flex;
  flex-direction: column;
  border-radius : 5px;
}

.PostCommentArea { 
  text-align : center;
  height : 50px
}

.ViewCommentArea { 

}

.InputPostComment{
  margin-top : 10px;
  margin-bottom : 10px;
  width : 80%;
  height : 100%;
  
}

.BtnPostComment {
  width : 10%;
  height : 100%;
}

.oneCommentBox {
  display : flex;
  justify-content : space-between;
  margin : 10px;
  border-radius : 10px;
  height : 50px;
  text-align : center;
}

.ViewCommentArea {
  display : flex;
  flex-direction: column;
  margin-top: 30px;
}

.commentLeft {
  display : flex;
  width : 20%;
  justify-content :space-between;
  padding : 15px;
  font-weight : bold;
}

.commentRight {
  display : flex;
  width : 60%;
  justify-content :space-between;
  margin-right: 10px;
  padding : 15px;
}

.commentRightRight{
  display : flex;
  width: 30%;
  justify-content: space-between;
}