
.content-board-container {
  background-image: url(https://ifh.cc/g/uMX1Fx.jpg);
  height: 965px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(13, 12, 71, 0.774);
}

.mainBox {
  display: flex;
  flex-direction : column;
  width: 50%;
  height: 50%;
  margin-top : 200px;
}

.controlbtnDiv {
  display:flex;
  justify-content: flex-end;
}

.controlbtn { 
  grid-area: updateUserBtn;
  background-color: #9c9db07d;
	border: 2px solid #333;
  border-radius: 20px;
	color: black;
	line-height: 50px;
  font-size: xx-large;
  width: 150px;
  font-family: 'Jua', sans-serif;
}

.controlbtn:hover {
	background-color: #fff;
	border-color: #09f143;
	color: #5fce6e;
}

.title { 
  width : 100%;
  text-align: center;
  border-radius : 10px;
  font-size : 40px;
  padding : 20px;
  background-color : #ffffff5e;
  }

.contentBox { 
    grid-area: contentBox; 
    width : 100%;
    height : 500px;
    padding : 30px;
    font-size : 1.5rem;
    border-radius: 20px;
    background: #ffffff5e;
    margin-bottom : 50px;
  }

.commentBox { 
    grid-area: commentBox;
    width: 50%;
    text-align: center;
    margin-bottom: 50px;
  }
  .ViewCommentArea{
  }
  .oneCommentBox{
    background-color : white;
    height : 20px;
  }

.footer { grid-area: footer; }

.PostCommentArea{
  margin-bottom: 10px;
}

.InputPostComment{
  font-size: 20px;
  background-color : white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 40px;
  border : 0;
  outline : 0;
}

.BtnPostComment{
  font-size: 20px;
  height : 100%;
  border : 0;
  outline : 0;
  transition : 0.5s;
  background-color : cadetblue;
  color : white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.BtnPostComment:hover{
  background-color : teal;
}

@media screen and (max-width: 700px){
  /* .MainBox{
    grid-template-columns: 1fr 1fr 1fr ;
  } */
  .content-board-container{
    grid-template-columns: 0.1fr 5fr 5fr 5fr 0.1fr;
  }
}

.footerFlex {
  width: 100%;
  height: 150px;
  background-color : black;
  display : flex;
  justify-content: space-around;
  align-items :inherit
}

.TWCICON {
  width: 70%;
}

.copyright {
  color : white;
  height: 100px;
}

.copyrightBox {
  display: flex;
  flex-direction : column;
  /* align-items : center; */
}