.Mainboard-container {
  background-image: url(https://ifh.cc/g/uMX1Fx.jpg);
  height: auto;
    display: grid;
    background-color: #222831;
    grid-template-columns: 0.3fr 1.5fr 1.5fr 1.5fr 0.3fr;
    grid-template-rows: 1fr 0.3fr 2.0fr 2fr 0.5fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . . . ."
      ". . writeBtn . ."
      ". bigPostBox bigPostBox bigPostBox ."
      ". bigPostBox bigPostBox bigPostBox ."
      ". . . . ."
      "footer footer footer footer footer";
  }
 






  .bigPostBox {
    height: auto;
    margin-top : 2rem;
    margin-bottom : 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px 25px;
    grid-area: bigPostBox;
  }
  .MainBoardWriteBtn { 
    grid-area: writeBtn;
    background-color: rgba(53, 147, 160, 0.856);
    color: #fff;
    width: 100%;
    font-size: 1.5rem;
    height: 100px;
    border : 0;
    outline : 0;
    text-align: center;
    border-radius: 20px;
  }

  .MainBoardWriteBtn:hover {
    background-color: rgba(0, 153, 255, 0.685);
  }


  /* .MainBoardWriteBtn:hover {
    background-color :rgb(22, 102, 122);
    color : white;

  } */

  .postBox{
    background-image: url(https://ifh.cc/g/I4HNbs.png);
    background-repeat: no-repeat;
    background-size: cover;
    background: 2627281a;
    height: 400px;
    width: 350px;
    padding : 20px;
    display : flex;
    flex-direction : column;
    justify-content : space-around;
    cursor: pointer;
    align-items : center;
}
.onePostBoxTitle{
  text-align : center;
  font-size : 1.7rem;
  font-weight : bold;
  width: 50%;
  padding : 10px;
  margin-bottom: 30%;
  background: #26272800;        
  color: black;
  border-bottom: 2px solid rgba(0, 0, 0, 0.884);
}
.PostBottom{
  font-weight : bold;
}

.PostBottomDay{
  font-weight : bold;
  color : red;
}

.PostBody{
  background: #262728;
  color: white;
}

.PostUserName{
  background: #262728;
  color: white;
}

.onePostBoxBottom{
  height : 20%;
  display : flex;
  flex-direction : column;
  justify-content : space-around;
}

@media screen and (max-width: 500px){
  .bigPostBox{
    grid-template-columns: 1fr
  }
}


