*{
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}


.MainPageContainer {
  margin:0;
  height: 1700px;
  background-color: #222831;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 0.8fr 0.6fr 2.7fr 1fr 1.5fr 2fr 1fr 1fr;
  gap: 5% 1%;
  grid-template-areas:
    ". . . . . ."
    ". . . . . ."
    "search search search search search search"
    ". searchData searchData searchData searchData ."
    ". . . . . ."
    ". video1 video1 video2 video2 ."
    ". video1 video1 video2 video2 ."
    ". . . . . ."
    "footer footer footer footer footer footer";
}

.mainlogo {
  grid-area: mainlogo;
  padding: 0;
  margin: 0;
}

.logos{
  height: 50%;
  padding: 0;
  margin: 0;
}

.search { 
  grid-area: search;
  text-align: center;

}
.searchData { 
  grid-area: searchData;
  background-color : white;
  border-radius : 10px;
  box-shadow: rgba(255, 255, 255, 0.19) 0px 10px 20px, rgba(255, 255, 255, 0.23) 0px 6px 6px;
}
.video1 { 
  grid-area: video1;
  border: 5px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 2px black;
  
}
.video2 { 
  grid-area: video2;
  border: 5px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 2px black;
  
}
.footer { 
  grid-area: footer;
  background-color : #00ACB5;
  text-align: center;
  color : white;
  font-size : 1.3rem;
  padding: 40px;
}

.Navbar{
  display: flex;
  justify-content: space-between;
  background-color : #00ACB5;
  height : 60px;
  width : 100%;
  position : fixed;
}

.NavLeft{
  width : 60%;
  height : 100%;
}

.logo{
  height : 100%;
}

.NavRight {
  display : flex;
  justify-content : space-between;
  width : 40%;
  height : 100%
}


.loginBtn {
  width : 25%;
  background-color :#065458;
  border: none;
  color : white;
  font-weight: bold;
  font-size : 20px;
  border-radius : 5px;
}


.navBtn {
  width : 25%;
  background: #404040;
  border: none;
  color : white;
  font-weight: bold;
  font-size : 20px;
  border-radius : 5px;
  
}

.searchBar{
  width : 40%;
  height : 100%;
  padding-left: 5%;
  font-size : 19px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.377);
  color : white;
  border: solid 1px white;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #808080;
}

.searchBtn{
  width : 10%;
  height : 100%;
  font-size : 20px;
  color : white;
  font-weight: bold;
  box-shadow: 5px 5px 10px 2px black;
  border: solid 1px white;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color : #52616B;
}

.modalOuter {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6); 
}

.insideModal {
    width: 480px;
    height: 621px;
    position: relative;
    box-sizing: border-box;
    margin: 50px auto;
    padding: 20px;
    background: #222831;
}

.modalContents {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 20px 32px;
  box-sizing: border-box;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}

.close {
  float: right;
  font-size: 25px;
}

.typeBar {
  height : 10%;
  margin-top : 5%;
  padding-left: 5%;
  
}

.btnSignIn {
  height: 50px;
  font-size: 20px;
  padding: 13px 30px;
  cursor: pointer;
  background-color: #00ACB5;
  color: white;
  line-height: 1px;
  margin-top: 10%;
  margin-bottom: 18px;
  border-radius: 3px;
  border-style: none;
}

.btnSignUp {
  height: 50px;
  font-size: 20px;
  padding: 13px 30px;
  cursor: pointer;
  background-color: #00ACB5;
  color: white;
  line-height: 1px;
  margin-bottom: 12px;
  border-radius: 3px;
  border-style: none;
}

.bestVideos {
  width: 100%;
  height: 100%;
}
