.Mainboard-container {
  height: 1000px;
    display: grid;
    background-color: #222831;
    grid-template-columns: 0.3fr 1.5fr 1.5fr 1.5fr 0.3fr;
    /* grid-template-rows: 0.5fr 1.5fr 1.5fr 0.5fr 0.5fr; */
    gap: 0px 0px;
    grid-template-areas:
      ". . . . ."
      ". bigPostBox bigPostBox bigPostBox ."
      ". bigPostBox bigPostBox bigPostBox ."
      ". . writeBtn . ."
      "footer footer footer footer footer";
  }
  .footer { grid-area: footer; }
  .bigPostBox {
    height: auto;
    margin-top : 10rem;
    margin-bottom : 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: 25px 25px;
    grid-template-areas:
      ". . ."
      ". . .";
    grid-area: bigPostBox;
  }
  .writeBtn { 
    grid-area: writeBtn;
    position: relative;
    top: -130px;
    height: 38px;
    width: 100px;
    font-size: x-large;
    left: 85px;
  }

  .postBox{
    border: 1px solid black;
    border-radius: 20px;
    background: white;
    box-shadow: 10px 5px 5px #7f8fa6;
}

