*{
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}

.MyPageContainer {
  background-image: url(https://ifh.cc/g/uMX1Fx.jpg);
  display: grid;
  height : 1100px;
  background-color: #222831;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . ."
    ". MyPageCenter MyPageCenter MyPageCenter MyPageCenter ."
    ". MyPageCenter MyPageCenter MyPageCenter MyPageCenter ."
    ". MyPageCenter MyPageCenter MyPageCenter MyPageCenter ."
    ". MyPageCenter MyPageCenter MyPageCenter MyPageCenter ."
    ". . . . . ."
    "footer footer footer footer footer footer";
}


.MyPageCenter { 
  grid-area: MyPageCenter; 
  background-color : #00000069;
}



.innerMypage {
  display: grid;
  height : 100%;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr 1fr 1fr 0.5fr 0.5fr 0.5fr;
  gap: 10px 10px;
  grid-template-areas:
    "Title Title Title Title Title Title Title"
    ". . . . . . ."
    ". TearIcon TearIcon userData userData userData ."
    ". TearIcon TearIcon userData userData userData ."
    ". . . . . . ."
    ". updateUserBtn updateUserBtn . deleteUserBtn deleteUserBtn ."
    ". . . . . . .";
}
.Title { 
  grid-area: Title; 
  text-align: center;
  background-color : #167cc585;
  font-size: xxx-large;
  font-family: 'Jua', sans-serif;
}
.updateUserBtn { 
  grid-area: updateUserBtn;
  background-color: #9c9db07d;
	border: 2px solid #333;
	color: black;
	line-height: 50px;
  font-size: xx-large;
  font-family: 'Jua', sans-serif;
}

.updateUserBtn:hover {
	background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
}

.deleteUserBtn { 
  grid-area: deleteUserBtn; 
  font-size: xx-large;
  background-color: #9c9db07d;
	border: 2px solid #333;
	color: black;
	line-height: 50px;
  font-family: 'Jua', sans-serif;
}

.deleteUserBtn:hover {
	background-color: #fff;
	border-color: #e21c1c;
	color: #fc0707;
}


.TearIcon { 
  grid-area: TearIcon;
  height : 100%; 
}
.userData { 
  grid-area: userData;
  background-color : rgb(255 255 255 / 59%);
  border-radius: 5px;
  padding : 20px;
  display : flex;
  flex-direction : column;
  justify-content : space-between;
  font-size : 2rem;
  color : black;
}

.updateData {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "label1 input1 input1 input1"
    ". . . ."
    "label2 input2 input2 input2";
}

.input1 { 
  grid-area: input1; 
  text-align : center;
  font-size : 25px;
}
.label1 { 
  grid-area: label1; 
}
.label2 { 
  grid-area: label2; 
}
.input2 { 
  grid-area: input2; 
  text-align : center;
}

.updateIpDiv{
  display : flex;
  justify-content: space-around;
  /* height : 20%; */
  margin-top: 30px;
  font-size: 2.5rem;
  color : white;

}


.nameText{
height: 150px;
width : 10%;
display : flex;
flex-direction: column;
justify-self: space-between;
text-align: left;
}
.copyright{
height: 100%;
width : 90%;
display : flex;
flex-direction: column;
justify-content : center;
}

/* .updateInput {
  width : 60%;
} */