.Update-content-container {
  background-image: url(https://ifh.cc/g/uMX1Fx.jpg);
  height : 1200px;
  display: grid;
  background-color: #222831;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 0.5fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . . ."
    ". Update-input-container Update-input-container Update-input-container Update-input-container Update-input-container ."
    ". Update-input-container Update-input-container Update-input-container Update-input-container Update-input-container ."
    ". Update-input-container Update-input-container Update-input-container Update-input-container Update-input-container ."
    ". Update-input-container Update-input-container Update-input-container Update-input-container Update-input-container ."
    ". . . . . . ."
    "footer footer footer footer footer footer footer";
}

.Update-input-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.5fr 0.5fr 0.5fr 0.1fr;
  gap: 5px 0px;
  grid-template-areas:
    "updateTitle updateTitle updateTitle"
    "updateBody updateBody updateBody"
    "updateBody updateBody updateBody"
    "updateBody updateBody updateBody"
    "updateBtn updateBtn updateBtn";
  grid-area: Update-input-container;
}

.updateTitle { 
  grid-area: updateTitle;
  background: #00000061;
  color: white;
  text-align: center;
  width: 80%;
  height: 70px;
  font-size: 2rem;
  border-radius: 35px;
  margin-left: 110px;
  border: 2px solid black;
}

.updateBody { 
  grid-area: updateBody; 
}

.updateBtnArea { 
  grid-area: updateBtn; 
  display : flex;
  text-align: center;
  justify-content: space-around;
  width: 100%;
}

.updateBtn {
  background-color: #41cfb3c2;
  border-radius: 4px;
  color: black;
  line-height: 52px;
  transition: none;
  text-shadow: 0 1px 1px rgb(0 0 0 / 30%);
  width: 18%;
  height: 120%;
  font-size: xx-large;
  border-radius: 45px;
  font-family: 'Jua', sans-serif;
}

/* .footer { grid-area: footer; } */

.inputUpdateTitle {
  width : 50%;
  height : 50%;
  text-align :center;
  font-size : 2rem;
}

.inputUpdateBody {
  width : 100%;
  height : 100%;
  padding : 50px;
  font-size : 2rem;
}

.footer {
  height: 100%;
  grid-area: footer;
  background: #326298;
  text-align: center;
  color: white;
  font-size: 1.3rem;
  display: flex;
  }

.nameText{
height: 150px;
width : 10%;
display : flex;
flex-direction: column;
justify-self: space-between;
text-align: left;
}
.copyright{
height: 100%;
width : 90%;
display : flex;
flex-direction: column;
justify-content : center;
}