.Write-container {
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 0.3fr;
    grid-template-rows: 0.6fr 0.3fr 1fr 1fr 1fr 1fr 1fr;
    gap: 13px 0px;
    grid-template-areas:
    ". . . . ."
    ". WriteTitle WriteTitle WriteTitle ."
    ". WriteBox WriteBox WriteBox ."
    ". WriteBox WriteBox WriteBox ."
    ". WriteBox WriteBox WriteBox ."
    ". WriteBtnBox WriteBtnBox WriteBtnBox ."
    "footer footer footer footer footer";
}
.WriteBox { 
    grid-area: WriteBox; 
}

.WriteTitle { 
    grid-area: WriteTitle;
    padding-left: 20px;

}



.WriteinputContent{
    position: absolute;
    top: 333px;
    left: 183px;
    height: 597px;
    width: 895px;
}



.footer { 
    grid-area: footer; 
}

.WriteBtnBox { 
    grid-area: WriteBtnBox;
}

.WriteBtn {
    height : 50%;
    width : 50%;
}



.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 550px;
  }