.Write-container {
    height: 1250px;
    background-image: url(https://ifh.cc/g/uMX1Fx.jpg);
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 0.3fr;
    grid-template-rows: 0.6fr 1fr 1fr 1fr 1fr 2fr 1fr;
    gap: 13px 0px;
    grid-template-areas:
    ". . . . ."
    ". WriteTitle WriteTitle WriteTitle ."
    ". WriteBox WriteBox WriteBox ."
    ". WriteBox WriteBox WriteBox ."
    ". WriteBox WriteBox WriteBox ."
    ". WriteBtnBox WriteBtnBox WriteBtnBox ."
    "footer footer footer footer footer";
}
.WriteBox { 
    grid-area: WriteBox;
    border: 2px solid black;
    height: 89.3%;
}

.WriteTitle { 
    grid-area: WriteTitle;
    border: 2px solid black;
    height: 60%;
    margin: 1%;
    text-align: center;
    font-size: xxx-large;
    background-color: #4b4848;
    opacity: 0.6;
    color: white;
    border-radius: 50px;
}

.WriteinputTitle{
    position: absolute;
    top: 12%;
    left: 14%;
    height: 5%;
    width: 74%;
    margin: -18px;
    padding-left: 20px;


}



.WriteinputContent{
    position: absolute;
    top: 18%;
    left: 14%;
    height: 58%;
    width: 74%;
}

/* .WriteinputBtn{
        position: absolute;
    top: 210px;
    height: 105px;
    margin: -35px;
    width: 700px;
    left: 305px;
} */


.footer { 
    grid-area: footer;
    width: 100%;
}

.WriteBtnBox { 
    grid-area: WriteBtnBox;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 116%;
}


.submitBtn{
    position: relative;
    bottom: -1227%;
    left: 150%;
    height: 95%;
    width: 170%;
    font-size: xxx-large;
}

.cancleBtn{
    position: relative;
    bottom: -1227%;
    left: 211%;
    width: 53%;
    font-size: xxx-large;
}

.WriteBtn {
    background-color: #41cfb3c2;
	border-radius: 4px;
	color: black;
	line-height: 52px;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    width: 23%;
    height: 25%;
    font-size: xx-large;
    border-radius: 45px;
    font-family: 'Jua', sans-serif;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 550px;
    background: grey;
    opacity: 0.6;
    color: black;
  }

